header {
  color: rgb(135, 34, 202); /* Cambia el color del texto en el header */
  text-align: center; /* Alinea el texto al centro */
  padding: 2em;
  font-size:16px;     
  border-radius:9cm; /* Borde redondeado */
}
span {
  background-color: rgb(249, 247, 250);
  border-radius:0.1cm; 
  font-size:69px; 
}

/* Estilos para el título dentro del header */
header h1 {
  font-size: 39px;
  font-family: monospace; /* Cambia el tamaño de la fuente del título */
}

footer {
  background-color: #f7f0f398; /* Cambia el color de fondo */
  text-align:end; /* Alinea el texto al centro */
  padding: center; /* Añade espaciado interior */
  font-size: large;
  margin-top: auto; /* Coloca el pie de página en la parte inferior */
}
em {
  color: rgb(64, 9, 75);
}
@media (max-width: 768px) {}
body {
  background: linear-gradient(to bottom, #f6f8f8, #fcfafc56);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
ul {
  /* Establecer list-style-type en "none" para quitar las viñetas */
  list-style-type: none;
  /* display:flex;  */
  /* margin: 3px 39; Añade espacio vertical entre los elementos <li> */
  flex-wrap: wrap;
  justify-content: space-between;
}

.balloon {
  background-color: #f2d1fcea;
  border-radius: 9px;
  color: #0a000e;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 27px; 
  font-family: monospace;
  line-height: 1;
  border: 1px solid #f1f2f3; /* Cambia el tamaño de la fuente */
  max-width: 400px; /* Ajusta el ancho máximo deseado */
  overflow: hidden; /* Evita que el contenido desborde */
  display: inline-block;
  white-space:nowrap; /* Aumenta la separación horizontal entre elementos */
  text-align: center; /* Centrar horizontalmente */

}

.balloon2 {
  background-color: #f1b9e1ea;
  border-radius: 9px;
  color: #0a000e;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 27px; 
  font-family: monospace;
  line-height: 1;
  border: 1px solid #eef2f3; /* Cambia el tamaño de la fuente */
  max-width: 300px; /* Ajusta el ancho máximo deseado */
  overflow: hidden; /* Evita que el contenido desborde */
  display: inline-block;
  white-space: nowrap;  /* Aumenta la separación horizontal entre elementos */
  text-align: center; /* Centrar verticalmente */ 

}


.contenedor {
    display:flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 23vh; /* Establece la altura del contenedor al 100% del viewport */
  }



textarea[name="user-input"] {
  width: 96%; /* Ancho deseado */
  height: 99px; /* Altura deseada */
  border: 1px solid #990eac;
  padding: 6px;
  text-align:left
}

textarea[placeholder="Ingresa el texto a analizar:"] {
  /* Estilos para el <textarea> con placeholder igual a "Ingresa el texto a analizar:" */
  background-color: #f7f1f5;
  color: #02000c;
}

/* Estilos para el botón "Limpiar" */
#limpiar {
  background-color: #641977; /* Cambia el color de fondo */
  color: #f5eff5; /* Cambia el color del texto */
  border: none; /* Quita el borde */
  padding: 6px 12px; /* Añade espaciado interior */
  font-size: 27px;
  font-family:monospace;
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  text-align: center;
  max-width: 500px; /* Establece un ancho máximo deseado */
  margin: 0 auto; /* Centra horizontalmente */
}

/* Estilos al pasar el mouse sobre el botón */
#limpiar:hover {
  background-color: #e60d60; /* Cambia el color de fondo al pasar el mouse */
}
  
