header {
  color: rgb(117, 32, 99); /* Cambia el color del texto en el header */
  text-align: center; /* Alinea el texto al centro */
  padding: 2em;
  font-size:larger;     
  border-radius:0cm; /* Borde redondeado */
}
span {
  background-color: rgb(101, 184, 166);
}

/* Estilos para el título dentro del header */
header h1 {
  font-size: 27px; /* Cambia el tamaño de la fuente del título */
}

footer {
  background-color: #d9d0e7; /* Cambia el color de fondo */
  color: rgb(82, 23, 52); /* Cambia el color del texto */
  text-align: center; /* Alinea el texto al centro */
  padding: center; /* Añade espaciado interior */
  font-size: large;
}
em {
  color: rgb(32, 109, 86);
}
body {
  background: linear-gradient(to bottom, #f5f7f6, #a4e2eb);
}
ul {
  /* Establecer list-style-type en "none" para quitar las viñetas */
  list-style-type: none;
  display:block; 

.balloon {
  background-color: #cbf8eb;
  border-radius: 5px;
  color: #333;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px; /* Cambia el tamaño de la fuente */
  line-height: 1.5; /* Ajusta el espaciado entre líneas */
  border: 1px solid #ccc; /* Agrega un borde */
  max-width: 300px; /* Ajusta el ancho máximo deseado */
  overflow: hidden; /* Evita que el contenido desborde */
  display: inline-block;
}

.balloon2 {
  background-color: #a0d8f1;
  border-radius: 5px;
  color: #333;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px; /* Cambia el tamaño de la fuente */
  line-height: 1.5; /* Ajusta el espaciado entre líneas */
  border: 1px solid #ccc; /* Agrega un borde */
  max-width: 300px; /* Ajusta el ancho máximo deseado */
  overflow: hidden; /* Evita que el contenido desborde */
  display: inline-block;
}
}
.contenedor {
    display:flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 33vh; /* Establece la altura del contenedor al 100% del viewport */
  }

textarea[name="user-input"] {
  width: 96%; /* Ancho deseado */
  height: 99px; /* Altura deseada */
  margin: 3 auto; /* Centrar horizontalmente */
  border: 1px solid #4954e7;
  padding: 3px;
  text-align: center;
}

textarea[placeholder="Ingresa el texto a analizar:"] {
  /* Estilos para el <textarea> con placeholder igual a "Ingresa el texto a analizar:" */
  background-color: #edf1f1;
  color: #02000c;
}

/* Estilos para el botón "Limpiar" */
#limpiar {
  background-color: #35b3d6; /* Cambia el color de fondo */
  color: #edf4ee; /* Cambia el color del texto */
  border: none; /* Quita el borde */
  padding: 6px 12px; /* Añade espaciado interior */
  font-size: 23px; /* Cambia el tamaño de la fuente */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  text-align: center;
  max-width: 200px; /* Establece un ancho máximo deseado */
  margin: 0 auto; /* Centra horizontalmente */
}

/* Estilos al pasar el mouse sobre el botón */
#limpiar:hover {
  background-color: #1fb261; /* Cambia el color de fondo al pasar el mouse */
}
  
.contenedorBoton {
  display:flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 33vh; /* Establece la altura del contenedor al 100% del viewport */
}